<!--可编辑右侧区域 START-->
<div class="FR-content PG-sell-new clearfix">
  <div class="PG-sellStep1"></div>
  <div class="EL-selector clearfix">
    <dl class="col-2">
      <dt>选择客户</dt>
      <dd>
        <input type="text">
      </dd>
    </dl>
    <div class="PG-addCustomer"><a href="#"><span class="ICO-addCustomer"></span> 新建客户</a></div>
    <dl class="col-2">
      <dt>订单类型</dt>
      <dd class="EL-choose">
        <label class="cur">
          <input class="checkbox" type="checkbox">自购</label>
        <label>
          <input class="checkbox" type="checkbox">代发</label>
      </dd>
    </dl>
  </div>

</div>
<div class="PG-btn clearfix"><a href="sell-new-2.html" class="BTN-comfirm-1">下一步</a></div>
<!--可编辑右侧区域 OVER-->
