<div class="PG_list_srch">
  <div class="EL-search">
    <input type="text"> <a class="btn" href="#"><span>搜索</span></a>
  </div>
  <div class="EL-tag ST-mart10">
    <a routerLink="/sale/order-list/toprint" routerLinkActive="cur">代打印订单</a>
    <a routerLink="/sale/order-list/todeliver" routerLinkActive="cur">代发货订单</a>
    <a routerLink="/sale/order-list/delivering" routerLinkActive="cur">已发货订单</a>
    <a routerLink="/sale/order-list/done" routerLinkActive="cur">已完成订单</a>
    <a routerLink="/sale/order-list/canceled" routerLinkActive="cur">已取消订单</a>
    <a routerLink="/sale/order-list/all" routerLinkActive="cur">全部订单</a>
  </div>
</div>

<order-list></order-list>

<pager></pager>
