<div class="EL-table PG_table">
  <table>
    <tr>
      <th>客户</th>
      <th>订单号</th>
      <th>订单金额</th>
      <th>订单状态</th>
      <th>日期</th>
      <th>操作</th>
    </tr>

    <tr *ngFor="let order of orderlist">
      <td><a href="#">{{order.customer.name}}</a></td>
      <td><a href="#">{{order.tn}}</a></td>
      <td>
        <span class="EL-price">{{ generateOrderPriceHtml(order) }}</span>
        <span class="EL-txt2">{{ generateOrderPriceExtHtml(order) }}</span>
      </td>
      <td>{{order.status | orderStatusLabel}}</td>
      <td><span class="EL-txt2">{{order.create_time | date:'yyyy-MM-dd hh:mm:ss'}}</span></td>
      <td><a href="#"><span class="ICO-print"></span>打印</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-shipping"></span>发货</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-cash"></span>结款</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-cancel"></span>取消</a></td>
    </tr>

  </table>
</div>

debug::::<br>
<br>total: 
<br>current: 
<br>itemsperpage.

<pager *ngIf='showPager' ></pager>
