<div class="EL-table PG_table">
  <table>
    <tr>
      <th>客户</th>
      <th>订单号</th>
      <th>订单金额</th>
      <th>订单状态</th>
      <th>日期</th>
      <th>操作</th>
    </tr>
    <tr>
      <td><a href="#">杨一</a></td>
      <td><a href="#">1611270945100478</a></td>
      <td><span class="EL-price">195</span><span class="EL-txt2">（不含运费）</span></td>
      <td>待发货</td>
      <td><span class="EL-txt2">2016-11-27 12:35:36</span></td>
      <td><a href="#"><span class="ICO-print"></span>打印</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-shipping"></span>发货</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-cash"></span>结款</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-cancel"></span>取消</a></td>
    </tr>
    <tr>
      <td><a href="#">杨一</a></td>
      <td><a href="#">1611270945100478</a></td>
      <td><span class="EL-price">195</span><span class="EL-txt2">（不含运费）</span></td>
      <td>待发货</td>
      <td><span class="EL-txt2">2016-11-27 12:35:36</span></td>
      <td><a href="#"><span class="ICO-print"></span>打印</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-shipping"></span>发货</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-cash"></span>结款</a> <span class="EL-vline">|</span> <a href="#"><span class="ICO-cancel"></span>取消</a></td>
    </tr>
  </table>
</div>
