--{{id}}..

<div>
  <h2>User Info page id:"{{id}}" {{ userToken }}</h2>

{{title}}
  <dl *ngIf="userToken">
  	<dt>用户名称： </dt>
  	<dd>{{userToken.name}}</dd>
  	<dt>用户ID</dt><dd>{{userToken.id}}</dd>
  	<dt>用户角色</dt><dd>{{userToken.roles}}</dd>
  	<dt>Token:</dt>
  	<dd *ngIf="userToken.token" >
  		access_token: {{userToken.token.access_token}}<br>
  		token_type: {{userToken.token.token_type}}<br>
  		refresh_token: {{userToken.token.refresh_token}}<br>
  		expiry: {{userToken.token.expiry}}<br>
  	</dd>
  	
  	<dt></dt><dd></dd>
  </dl>
</div>